namespace SUSModder.Core
{
    public static class SecretProvider
    {
        public static string GetDownloadToken()
        {
            return Decrypt(""); // <-- tu wstaw swój token w base64
        }
        public static string Get7zPassword()
        {
            return Decrypt(""); // <-- tu wstaw swoje hasło w base64
        }
        private static string Decrypt(string encrypted)
        {
            return System.Text.Encoding.UTF8.GetString(Convert.FromBase64String(encrypted));
        }
    }
}